* {
  /* height & width now includes border & padding */
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 4fr;
}

#start-new-game {
  background-color: aqua;
}

#header {
  background-color: aquamarine;
}

#player-turn {
  background-color: beige;
}

#game-container {
  background-color: rgb(184, 241, 117);
  grid-column: 2 / 3;
}

#game-grid {
  background-color: blanchedalmond;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 800px;
  height: 600px;
  justify-items: center;
}

.game-slot {
  background-color: rgb(255, 255, 255);
  border: solid;
  border-radius: 50%;
  text-align: center;
  height: 75px;
  width: 75px;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}
